.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.navbar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-style: double;
    border-width: 5px;
    border-color: aqua;
    background-color: rgb(252, 236, 150);
  }
  
  .logo {
    margin-right: 20px; /* Adjust the margin between logo and h1 */
  }
  
  .navbar-title {
    margin: 0; /* Reset margin for h1 */
  }
  

.logo img {
    width: 100px; 
}

.picture-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.picture-grid img {
    width: 100%;
    height: auto;
    object-fit: cover;
    height: 200px;
}

.nav-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search {
    margin-bottom: 20px;
}

#searchInput {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#searchButton {
    padding: 8px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#searchButton:hover {
    background-color: #0056b3;
}

.favorites-tag {
    font-size: 18px;
}

